monolog:
    channels: [deprecation]
    handlers:
        main:
            type: fingers_crossed
            handler: stream
            level: info
            buffer_size: 50 # How many messages should be saved? Prevent memory leaks
            channels: ["!deprecation"]
            excluded_http_codes: [404]
        stream:
            type: stream
            path: "php://stdout"
        console:
            type: console
            level: info
            process_psr_3_messages: false
            channels: ["!deprecation", "!doctrine", "!event"]
            verbosity_levels:
                VERBOSITY_NORMAL: INFO
