<div class="panel">
  <p class="right">
      <a href="https://twitter.com/wpackagist" class="twitter-follow-button" data-size="large">Follow @wpackagist</a>
      <script>!function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + '://platform.twitter.com/widgets.js';
              fjs.parentNode.insertBefore(js, fjs);
          }
      }(document, 'script', 'twitter-wjs');</script>
  </p>
  <p>An <a href="https://outlandish.com" target="_blank">Outlandish</a> experiment.</p>
  <p>
      The WordPress&reg; trademark is the intellectual property of the WordPress Foundation. Uses of the WordPress&reg;
      name in this website are for identification purposes only and do not imply an endorsement by WordPress Foundation.
      WPackagist is not endorsed or owned by, or affiliated with, the WordPress Foundation.
  </p>
</div>
