{% extends "layout.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <p class="mission">This site mirrors the WordPress <a href=
        "https://plugins.svn.wordpress.org/">plugin</a> and <a href=
        "https://themes.svn.wordpress.org/">theme</a> directories as a <a href=
        "https://getcomposer.org/">Composer</a> repository.
    </p>

    {% include 'searchbar.twig' %}

    <div class="row">
        <div class="large-6 columns">
            <h3>How do I use it?</h3>

            <ol>
                <li>Add the repository to your <code>composer.json</code></li>

                <li>Add the desired plugins and themes to your requirements using
                <code>wpackagist-plugin</code> or <code>wpackagist-theme</code> as
                the vendor name.</li>

                <li>Run <code>$ composer.phar update</code></li>

                <li>Packages are <a href="https://github.com/composer/installers" target="_blank">
                    installed</a> to <code>wp-content/plugins/</code> or
                    <code>wp-content/themes/</code> (unless otherwise specified by
                    <code>installer-paths</code>)
                </li>
            </ol>

            <h3>Example</h3>
<pre>{
    "name": "acme/brilliant-wordpress-site",
    "description": "My brilliant WordPress site",
<div class="highlighter">    "repositories":[
        {
            "type":"composer",
            "url":"https://wpackagist.org",
            "only": [
                "wpackagist-plugin/*",
                "wpackagist-theme/*"
            ]
        }
    ],
</div>    "require": {
        "aws/aws-sdk-php":"*",
<div class="highlighter">        "wpackagist-plugin/akismet":"dev-trunk",
        "wpackagist-plugin/wordpress-seo":">=7.0.2",
        "wpackagist-theme/hueman":"*"
</div>    },
    "autoload": {
        "psr-0": {
            "Acme": "src/"
        }
    },
    "extra": {
        "installer-paths": {
<div class="highlighter">            "wp-content/mu-plugins/{$name}/": [
                "wpackagist-plugin/akismet"
            ],
</div>            "wp-content/plugins/{$name}/": [
                "type:wordpress-plugin"
            ]
        }
    }
}</pre>

            <p>This example <code>composer.json</code> file adds the Wpackagist
            repository and includes the latest version of Akismet (installed as
            a must-use plugin), at least version 3.9 of Captcha, and the latest
            Hueman theme along with the Amazon Web Services SDK from the main
            <a href="https://packagist.org/" target="_blank">Packagist</a> repository.</p>

            <p>Find out more about <a href=
            "https://getcomposer.org/doc/01-basic-usage.md" target="_blank">using Composer</a>
            including <a href=
            "https://github.com/composer/installers#custom-install-paths" target="_blank">custom
            install paths</a>.</p>

            <p>The old vendor prefix <code>wpackagist</code> is now
            <strong>removed</strong> in favour of
            <code>wpackagist-plugin</code>.</p>
        </div>

        <div class="large-6 columns">
            <h3>Why use Composer?</h3>

            <blockquote class="clearfix">
                &ldquo;Composer is a tool for dependency management in PHP. It
                allows you to declare the dependent libraries your project needs
                and it will install them in your project for you.&rdquo;

                <div class="right">
                    &mdash; <a href=
                    "https://getcomposer.org/doc/00-intro.md" target="_blank">getcomposer.org</a>
                </div>
            </blockquote>

            <ul>
                <li>Avoid committing plugins and themes into source control.</li>

                <li>Avoid having to use git submodules.</li>

                <li>Manage WordPress and non-WordPress project libraries with the
                same tools.</li>

                <li>Could eventually be used to manage dependencies between
                plugins.</li>
            </ul>

            <h3>How does the repository work?</h3>

            <ul>
                <li>Scans the WordPress Subversion repository every hour for <a href=
                "https://plugins.svn.wordpress.org/" target="_blank">plugins</a> and <a href=
                "https://themes.svn.wordpress.org/" target="_blank">themes</a>.
                </li>

                <li>Fetches the <code>tags</code> for each updated package and maps
                those to versions.</li>

                <li>For plugins, adds <code>trunk</code> as a dev version.</li>

                <li>Rebuilds the composer package JSON files.</li>
            </ul>

            <h3>Known issues</h3>

            <ul>
                <li>Requires Composer 1.0.0-alpha7 or more recent</li>

                <li>Version strings which Composer cannot parse are ignored. All
                plugins have at least the trunk build available.</li>

                <li>Themes do not have a trunk version. It is recommended to use
                <code>"*"</code> as the required version.</li>

                <li>Even when packages are present on SVN, they won’t be available
                if they are not published on <a href="https://wordpress.org/plugins/" target="_blank">wordpress.org</a>.
                Try <a href="{{ app.request.basepath }}/search">searching</a> for your plugin before reporting a
                <a href="https://github.com/outlandishideas/wpackagist/issues/new?title=[Bug]%20" target="_blank">bug</a>.</li>

                <li>You can also check for <a href="https://github.com/outlandishideas/wpackagist/issues" target="_blank">open issues</a>.</li>
            </ul>

            <h3>WordPress Core</h3>

            <p>See
                <code><a href="https://github.com/fancyguy/webroot-installer" target="_blank">fancyguy/webroot-installer</a></code> or
                <code><a href="https://github.com/johnpbloch/wordpress" target="_blank">johnpbloch/wordpress</a></code> for installing
                WordPress itself using Composer.</p>

            <h3>Contribute or get support</h3>

            <p>Please visit our <a href="https://github.com/outlandishideas/wpackagist" target="_blank">GitHub page</a>.</p>
        </div>
    </div>
{% endblock %}
